.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/*.backup
**/*.bak
**/*.tmp
**/.DS_Store
**/Thumbs.db
test/**
.git/**
.github/**
*.vsix